
/* the notification counter element */
.mece-badge {
    display: inline-block;
    width: 16px;
    line-height: 16px;
    padding: 3px 0px 3px 0px;
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    color: #FFF;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: $badge-yellow;
    border-radius: 8px;
    left: -10px;
    top: -5px;
    position: relative;
}

