<!doctype html>

<html class="no-js" lang="">

<head>

<meta charset="utf-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta name="description" content="">

<meta name="viewport" content="width=device-width, initial-scale=1">

<title></title>

<link rel="stylesheet" href="dist/css/widget.css"> <!-- Mece:n css -->

<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">

<link href="index.css" rel="stylesheet"> <!-- Opintonisivun css: integraatio-testausta varten -->

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
-->

</head>

<body bgcolor="#E6E6FA">

<div class="ng-scope" ng-include="'app/partials/_page_navigation.html'" style = "background:#dddddd">

    <div class="page-navigation hide_mobile_only ng-scope">

        <div class="wrapper">

            <nav role="navigation">
                <ul class="main-menu">
                    <li class="main-menu_home">
                        <a href="#/" class="active">HOME</a>
                    </li>
                    <li class="ng-scope" ng-repeat="link in primaryLinks">
                        <a href="#/" class="active">WEBOODI</a>
                    </li>
                </ul>
            </nav>

            <div class="user-menu">
                <div class="user_menu__item search-icon ng-isolate-scope">
                    <div tabindex="0" role="button" aria-label="Öppna sök" class="dropdown-toggle" ng-click="toggle()" ng-class="{'active' : active === true}">
                        <div class="icon tour-element__search">
                        <a class="user_menu__actions__action"> <span>SEARCH</span> </a>
                    </div>
                </div>
            </div>

            <div class="user_menu__item hide_mobile_only search-bar ng-isolate-scope">
                <div aria-hidden="true" ng-show="active" class="search-bar ng-hide">
                    <label tabindex="0" role="button" aria-label="" for="search-input" ng-click="search()">
                        <i class="hy">Hello world</i>
                    </label>
                    <div class="input-container">
                        <form class="ng-pristine">
                            <input type="text">
                        </form>
                    </div>
                </div>
            </div>

            <div class="hide_mobile_only user_menu__item start-tour ng-isolate-scope">
                <a tabindex="0" href="" role="button" aria-label="börja turen" ng-click="startTour()">
                    <span class="hy hy-info-stroke" title="Introduktionstur"></span>
                </a>
            </div>

            <div dropdown="" class="user_menu__item user_notifications ng-isolate-scope" open-callback="isOpen = true" close-callback="isOpen = false">
                <!-- #ifdef WITH_MECE -->
                <div id="mece-icon-div" > </div>
                <!--
                     meceDomain                 = "https://ohtu-devel.it.helsinki.fi"
                 -->
                <div id                         = "mece-content-div"
                     class                      = "dialog"
                     pollingInterval            = "5000"
                     meceWindowTopOffset        = "100"
                     meceWindowLeftOffset       = "250"
                     meceWindowWidth            = "300"
                     meceWindowHeight           = "350"
                     meceDomain                 = "https://localhost"
                     meceChannels               = "oodi.kurssisivu.tilastotieteenjatko.kurssi1,
                                                   oodi.kurssisivu.tilastotieteenperusteet.kurssi1"
                     language                   = "fi" >
                </div>
                <!-- #endif WITH_MECE -->
            </div>

            <!-- #ifdef WITH_OPINTONI_LOGOUT -->
            <div class="hide_mobile_only user_menu__item">
                <a aria-label="Logga ut" role="button" href="/saml/logout?local=true">
                    <span class="hy hy-logout" title="Logga ut">
                    </span> <span class="show_mobile_only ng-binding">Logga ut</span>
                </a>
            </div>
            <!-- #endif WITH_OPINTONI_LOGOUT -->

            <!-- #ifdef WITH_OPINTONI_ASETUKSET -->
            <div dropdown="" class="user_menu__item user_settings" close-callback="resetMenu()">
                <div class="dropdown-toggle">
                    <a href="" class="user_menu__actions__action" ng-class="{active : showMenu}" aria-label="Inställningar" role="button">
                        <div class="user-avatar__small ng-isolate-scope" img-src="session.avatarUrl" img-alt="session.name">
                            <div class="user-avatar" ng-class="{teacher : isTeacher, default: isDefault()}">
                                <img src = "https://qa.student.helsinki.fi/api/public/v1/images/avatar/80"
                                     ng-src = "https://qa.student.helsinki.fi/api/public/v1/images/avatar/80"
                                     class = "user-avatar__icon" alt = "Maggie Simpson">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- #endif WITH_OPINTONI_ASETUKSET -->

        </div> <!--class="wrapper"-->

    </div> <!--class="page-navigation hide_mobile_only ng-scope"-->

    <!-- #ifdef WITH_DUMMY_OPINTONI_CONTENT http://thenewcode.com/852/A-Fresh-Approach-to-Responsive-HTML5-Tables -->
    <div class="opintoni-page-content">
        <table id="miyazaki">
            <caption>The Films of Miyazaki</caption>
            <thead>
                    <tr><th>Film</th><th>Year</th><th>Honor</th></tr>
            </thead>
            <tbody>
                    <tr>
                        <td data-th="Film">My Neighbor Totoro</td>
                        <td data-th="Year">1988</td>
                        <td data-th="Honor">Blue Ribbon Award (Special)</td>
                    </tr>
                    <tr>
                        <td data-th="Film">Princess Mononoke</td>
                        <td data-th="Year">1997</td>
                        <td data-th="Honor">Nebula Award (Best Script)</td>
                    </tr>
                    <tr>
                        <td data-th="Film">Spirited Away</td>
                        <td data-th="Year">2001</td>
                        <td data-th="Honor">Academy Award (Best Animated Feature)</td>
                    </tr>
                    <tr>
                        <td data-th="Film">Howl’s Moving Castle</td>
                        <td data-th="Year">2004</td>
                        <td data-th="Honor">Hollywood Film Festival (Animation OTY)</td>
                    </tr>
            </tbody>
        </table>
        <style>
        table#miyazaki caption {
                font-size: 2rem;
                color: #444;
                margin: 1rem;
                background-image: url(miyazaki.png), url(miyazaki2.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center left, center right;
        }
        table#miyazaki {
                border-collapse: collapse;
                font-family: Agenda-Light;
                font-weight: 100;
                background: #333;
                color: #fff;
                text-rendering: optimizeLegibility;
                border-radius: 5px;
        }
        table#miyazaki thead th { 
                font-weight: 600; 
        }
        table#miyazaki thead th, 
                table#miyazaki tbody td {
                padding: .8rem;
                font-size: 1.4rem; 
        }
        table#miyazaki tbody td {
                padding: .8rem;
                font-size: 1.4rem;
                color: #444;
                background: #eee;
        }
        table#miyazaki tbody tr:not(:last-child) {
                border-top: 1px solid #ddd;
                border-bottom: 1px solid #ddd; 
        }
        </style>
    </div>
    <!-- #endif WITH_DUMMY_OPINTONI_CONTENT -->

</div> <!--class="ng-scope"-->

<script src="dist/mece.client.js"></script>

</body>

</html>

