<!doctype html>

<html class="no-js" lang="">

    <head>

        <!-- @include index-head.html -->

        <title> MECE staging: index-staging.html </title>

        <link rel="stylesheet" href="https://rawgit.com/UniversityofHelsinki/mece-client/master/dist/css/widget.css">

    </head>

    <body bgcolor="#E6E6FA">

        <!-- @include index-body.html -->

        <script src="https://rawgit.com/UniversityofHelsinki/mece-client/master/dist/mece.client.js"></script>

    </body>

</html>

